# Project 1: Getting Started with Python and pandas

## Your name: Bernie Jones

### Your collaborators: 

### Your sources: Utilized GPT for some error troubleshooting and to understand reset_index on Above and Beyond. 

Due date: Sunday September 10 at 11:59 pm

In [1]:
# Import the necessary packages you need
import pandas as pd
import numpy as np

### Warmup: Python review

1. Create a list of your personal course schedule for this semester that contains the course number and name of the course as a string (i.e. "CS215: Introduction to Data Science")

In [2]:
list_my_schedule = ["HIST 120 | History & Politics of Mexican Food", "MATH 215 | Intro to Data Science", "ECON 477 | Environment and Natural Resource Economics", "ECON 358 | Corporate Finance"]

2. Write code to iterate through your list of courses and print it out in the following format:

```
CS215 | Intro to Data Science
CS200 | Data Visceralization
...
```

In [3]:
for each_class in list_my_schedule:
    print(each_class)

HIST 120 | History & Politics of Mexican Food
MATH 215 | Intro to Data Science
ECON 477 | Environment and Natural Resource Economics
ECON 358 | Corporate Finance

3. Create a dictionary of your personal course schedule for this semester that contains the course numbers (i.e. CS215 or Math215) as the keys and the full course titles (i.e. "Intro to Data Science) as the values.

In [4]:
dict_my_schedule = {"HIST 120 |": "History & Politics of Mexican Food", "MATH 215 |": "Intro to Data Science", "ECON 477 |": "Environment and Natural Resource Economics", "ECON 358 |": "Corporate Finance"}

4. Write code to iterate through your dictionary of courses and print it out in the following format:

```
CS215 | Intro to Data Science
CS200 | Data Visceralization
...
```

In [5]:
for each_class_dict in dict_my_schedule:
    print (each_class_dict + " " + dict_my_schedule[each_class_dict])

HIST 120 | History & Politics of Mexican Food
MATH 215 | Intro to Data Science
ECON 477 | Environment and Natural Resource Economics
ECON 358 | Corporate Finance

### Main Assignment: Analyzing STEM Courses at Whitman as a pandas dataframe

1. Open "STEM Outcomes Grades 2002 - 2018.xlsx" as a pandas dataframe using the .read_excel() function. Show the .head() and .tail().

In [6]:
stem_outcomes = pd.read_excel("STEM Outcomes Grades 2002 - 2018 (anon).xlsx")

In [7]:
print(stem_outcomes.head())
print(stem_outcomes.tail())

   Unnamed: 0           Student ID    Term  Academic Division Subject  \
0           0  6602904443393593344  2004SP                  2    THTR
1           1  6602904443393593344  2004FA                  2    THTR
2           2 -2039589217076994048  2005SP                  1    SSRA
3           3  5859295354834180096  2007FA                  2     MUS
4           4  5859295354834180096  2008SP                  2     MUS

  Course Number               Course Title  Credits  Grade
0           126        Beginning Acting II        3    4.0
1           225        Intermediate Acting        4    3.7
2           104       Stretch and Strength        1    NaN
3           300  Foreign Diction - Singers        3    4.0
4           252      SpEns:Chamber Singers        1    4.0
       Unnamed: 0           Student ID    Term  Academic Division Subject  \
75800       75800  1051871726049869952  2018SP                  1     POL
75801       75801  1051871726049869952  2018SP                  1     POL
75802       75802  1051871726049869952  2018SP                  1    SSRA
75803       75803  1051871726049869952  2018SP                  4    GENS
75804       75804  3609008991355611136  2018SP                  2     MUS

      Course Number                    Course Title  Credits  Grade
75800           121  Intro Anc& Medieval Pol Theory        4    NaN
75801           201    ST: Oil & Mining in Indian C        4    NaN
75802           257        Intercollegiate Baseball        1    NaN
75803           146                      Encounters        4    NaN
75804           480                     Composition        3    4.0

2. How many complete rows of data are there in the file (i.e. no NaNs)? How many columns are there?  What data type is each column?

In [8]:
# YOUR CODE HERE
print(stem_outcomes.shape)
print(stem_outcomes.dtypes)

(75805, 9)
Unnamed: 0             int64
Student ID             int64
Term                  object
Academic Division      int64
Subject               object
Course Number         object
Course Title          object
Credits                int64
Grade                float64
dtype: object

3. How many unique student IDs are in the data? Which ID (or IDs) took the most classes in their first year according to this data?

In [9]:
#This first line attempts to answer the first question of Question 3. 
print(len(stem_outcomes.drop_duplicates(["Student ID"])))

7136

In [10]:
#Verfication of first question of Question 3. 
print(stem_outcomes.sort_values(["Student ID"], ascending = [True]))
#Identification of which IDs took the most courses in their first year. 
print(stem_outcomes.value_counts(["Student ID"]))

       Unnamed: 0           Student ID    Term  Academic Division Subject  \
18612       18612 -9221645744761652224  2006SP                  2     MUS
18599       18599 -9221645744761652224  2005FA                  4    GENS
18600       18600 -9221645744761652224  2005FA                  1    HIST
18601       18601 -9221645744761652224  2005FA                  3    CHEM
18602       18602 -9221645744761652224  2005FA                  3    CHEM
...           ...                  ...     ...                ...     ...
57136       57136  9218861421211217920  2014FA                  3    CHEM
57135       57135  9218861421211217920  2014FA                  4    GENS
57146       57146  9218861421211217920  2015SP                  1    PSYC
57144       57144  9218861421211217920  2015SP                  1    SSRA
57140       57140  9218861421211217920  2014FA                  1    SSRA

      Course Number                Course Title  Credits  Grade
18612          164H      ElemApplMus: Woodwinds        1    4.0
18599           145     Antiquity and Modernity        4    4.0
18600           109        E Asian Hist to 1600        3    3.0
18601           125           General Chemistry        3    3.7
18602           135     General Chemistry Lab I        1    4.0
...             ...                         ...      ...    ...
57136           125           General Chemistry        3    2.0
57135           145                  Encounters        4    1.0
57146           110  Introduction to Psychology        4    2.0
57144           151        Beginning Volleyball        1    NaN
57140           210         Intermediate Tennis        1    NaN

[75805 rows x 9 columns]
Student ID
 4121287127594886144    23
-7300308186259233792    21
-1792032343924726016    21
 4024707576223885824    21
-4495242678127288832    21
                        ..
 7122535951284864000     1
 1129832177686873984     1
-1411874971982451968     1
-1386070221078284032     1
-4823663217382008832     1
Length: 7136, dtype: int64

4. _Grade points_ are the product of credits and grade (4.0 scale). For example, if a student received a 3.7 grade in a 4 credit class, then the number of grade points earned is 14.8. Add a column to the dataframe called 'Grade Points' and populate it with each row's grade points. _Answer: How is missing data handled?_

In [11]:
stem_outcomes["Grade Points"] = stem_outcomes["Grade"] * stem_outcomes["Credits"]
stem_outcomes["Grade Points"].fillna(0)
#Missing data will display as NaN and can be replaced via a fill function with a selection to an intended replacement value such as 0. Ommitance of NaN rows is also a potential way to handle things as well.

0        12.0
1        14.8
2         0.0
3        12.0
4         4.0
         ...
75800     0.0
75801     0.0
75802     0.0
75803     0.0
75804    12.0
Name: Grade Points, Length: 75805, dtype: float64

5. Write a function that takes a single grade, like those in the 'Grade' column, and converts it to a letter (e.g. B+) according to this scale: https://pages.collegeboard.org/how-to-convert-gpa-4.0-scale. Use .apply() (or .map()) on the 'Grade' column to create a new 'Letter Grade' column in your dataframe.

In [12]:
def grade_conversion(Grade):
    if Grade > 4.0:
        return "A+"
    elif Grade == 4.0:
        return "A"
    elif Grade >= 3.7:
        return "A-"
    elif Grade >= 3.3:
        return "B+"
    elif Grade >= 3.0:
        return "B"
    elif Grade >= 2.7:
        return "B-"
    elif Grade >= 2.3:
        return "C+"
    elif Grade >= 2.0:
        return "C"
    elif Grade >= 1.7:
        return "C-"
    elif Grade >= 1.3:
        return "D+"
    elif Grade >= 1.0:
        return "D"
    else:
        return "E/F"
    
stem_outcomes["Letter Grade"] = stem_outcomes["Grade Points"].apply(grade_conversion)
stem_outcomes["Letter Grade"]

0         A+
1         A+
2        E/F
3         A+
4          A
        ...
75800    E/F
75801    E/F
75802    E/F
75803    E/F
75804     A+
Name: Letter Grade, Length: 75805, dtype: object

6. Use some of the descriptive and summary statistics function from [Table 5.8 of the textbook](https://wesmckinney.com/book/pandas-basics.html#tbl-table_descriptive_stats) to provide at least 3 insights into some of the numeric columns of data.

In [13]:
# Average grade of student per each course. 
stem_outcomes.groupby("Course Title")["Grade"].mean()

Course Title
(Re)Conquistadores                4.000000
19th C Europe, 1815-1914          2.982759
19th Century Theatre History      3.650000
20C Lit: Jahrhundertwende         4.000000
20th C Physics Laboratory         3.148000
                                    ...
Writers of Place                  3.700000
Writing Environmental Disaster    3.800000
Yoga                                   NaN
Yoga, Meditation,& Mindfulness    3.533333
Zen                               3.000000
Name: Grade, Length: 2024, dtype: float64

In [14]:
#Individual grade of each student that took General Chemistry.
df_genchem_grade = stem_outcomes[stem_outcomes["Course Title"] == "General Chemistry"]
df_genchem_grade.groupby("Student ID")["Grade"].max()

Student ID
-9221645744761652224    3.7
-9217337808499395584    3.7
-9203431123501972480    2.0
-9190750817828926464    3.3
-9186388654713535488    4.0
                       ...
 9187253130835632128    3.0
 9188948466012477440    3.0
 9202012111058273280    3.3
 9213985650394224640    4.0
 9218861421211217920    2.0
Name: Grade, Length: 2127, dtype: float64

In [15]:
#Number of Individual Courses Offered. 
stem_outcomes["Course Number"].nunique()

445

7. Above & Beyond. Make an additional analysis or observation about the data using your new-found pandas skills.

In [16]:
#GPA of Students who Took both General Chemistry and General Chemistry Lab 1: Wanted to create a function but was having diffuclty so here is a walkthrough of the process.
#Thought this could be interesting to see the effects of a lab component on GPA. 
genchem_lab = stem_outcomes[stem_outcomes["Course Title"].isin(["General Chemistry" , "General Chemistry Lab I"])]
#Remove Gen Chem 126 as it doesn't seem to match to the lab 
genchem_pluslab = genchem_lab[genchem_lab["Course Number"] != 126].sort_values("Student ID")
#Now match student ID to taking both courses, learned of reset_index  
sorted_pluslab = genchem_pluslab.groupby(["Student ID", "Course Title"])["Grade"].mean().reset_index()
#Combining of GPA's 
mean_gpa = sorted_pluslab.groupby("Student ID")["Grade"].mean()
mean_gpa
#Am still aware of complex matter that is student's who just took one of the classes, reflected earlier in the code if a print statement is made.

Student ID
-9221645744761652224    3.85
-9217337808499395584    3.50
-9203431123501972480    3.00
-9190750817828926464    3.50
-9186388654713535488    3.50
                        ...
 9187253130835632128    3.50
 9188948466012477440    3.50
 9202012111058273280    3.15
 9213985650394224640    3.85
 9218861421211217920    3.00
Name: Grade, Length: 2122, dtype: float64

Upload your finished .ipynb file to this Canvas assignment. Here are some tips for a successful submission:
* Make sure your code runs without any errors. Code that produces errors will NOT be graded.
* Make sure that your comments are clear and comprehensive.
* Make sure to include credit to any external sources you used as well as any collaborators.